.Chain-header {
  width: 100%;
  height: 108px;
  overflow: hidden;
  background: #fff;
  color: #000;
  min-width: 1350px;
  position: relative;
}

.Chain-tabs {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 200px;
  text-align: right;
}

.Chain-content-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 148px;
}

.Chain-content {
  width: 100%;
  min-width: 1350px;
  min-height: 100%;
  background: #222;
  color: #fff;
  box-shadow: rgba(0,0,0,0.5) 0 3px 30px;
}

.Chain-map {
  min-width: 1350px;
  background: url('../../assets/world-map.svg') no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Chain-no-nodes {
  font-size: 30px;
  padding-top: 20vh;
  text-align: center;
  font-weight: 300;
}

.Chain-node-list {
  width: 100%;
  border-spacing: 0;
}

.Chain-node-list thead {
  background: #3c3c3b;
}

.Chain-node-list tbody {
  font-family: monospace, sans-serif;
}

.Chain-settings {
  text-align: center;
}

.Chain-settings-category {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding: 2em 0;
}

.Chain-settings-category h2 {
  padding: 0;
  margin: 0 0 0.5em 0;
  font-size: 20px;
  font-weight: 100;
}
