.Chain-Filter {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  left: 50%;
  width: 400px;
  font-size: 30px;
  margin-left: -210px;
  padding: 10px;
  border-radius: 4px;
  background: #111;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.Chain-Filter input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  width: 400px;
  font-size: 30px;
  background: #111;
  color: #fff;
}
