.Setting {
  color: #666;
  padding: 0;
  margin: 0 0 8px 0;
  cursor: pointer;
}

.Setting-on {
  color: #fff;
}

.Setting .Icon {
  margin-right: 10px;
}

.Setting-switch {
  width: 40px;
  height: 18px;
  border-radius: 18px;
  display: block;
  float: right;
  position: relative;
  background: #444;
  transition: background-color 0.15s linear, border-color 0.15s linear;
}

.Setting-on .Setting-switch {
  background: #E6007A;
  border-color: #E6007A;
}

.Setting-knob {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 18px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #222;
  transition: left 0.15s ease-in-out;
}

.Setting-on .Setting-knob {
  left: 22px;
}
