.Setting {
  color: #635f5f;
  padding: 0;
  margin: 0 0 8px 0;
  cursor: pointer;
}

.Setting-on {
  color: #fff;
}

.Setting .Icon {
  margin-right: 10px;
}

.Setting-switch {
  width: 40px;
  height: 18px;
  border-radius: 18px;
  display: block;
  float: right;
  position: relative;
  background: #444;
  transition: background-color 0.15s linear, border-color 0.15s linear;
}

.Setting-on .Setting-switch {
  background: #e6007a;
  border-color: #e6007a;
}

.Setting-knob {
  width: 18px;
  height: 18px;
  border-radius: 19px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  transition: left 0.15s ease-in-out;
}

.Setting-on .Setting-knob {
  left: 22px;
}
