.App {
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App-no-telemetry {
  width: 100vw;
  height: 100vh;
  line-height: 80vh;
  font-size: 3.5em;
  font-weight: 100;
  text-align: center;
  color: #888;
}
