.App {
  text-align: left;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App-header {
  width: 100%;
  background: #fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-list {
  width: 100%;
  border-collapse: collapse;
}

.App-list thead {
  background: #3c3c3b;
  color: #fff;
}

.App-list th, .App-list td {
  text-align: left;
  padding: 0.4em 0.6em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
