.App {
  text-align: left;
  font-family: monospace, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  font-size: 3em;
  padding: 20px;
  text-align: left;
}

.App-list {
  padding: 20px;
}

.App-list th, .App-list td {
  text-align: left;
  padding: 0.2em 0.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
