.Header {
  width: 100%;
  height: 108px;
  overflow: hidden;
  background: #fff;
  color: #000;
  min-width: 1350px;
  position: relative;
}

.Header-tabs {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 200px;
  text-align: right;
}
