.Header {
  width: 100%;
  color: #000;
  min-width: 1350px;
  display: flex;
  flex-direction: column;  
  padding: 20px 0px;
}

.Header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
}

.Header-row-first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Header-row-second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.Row-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.Row-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  margin: 10px 50px;
}

.Header-tabs {
  bottom: 30%;
  width: 1250px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.ImageIcon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}


.button-outline {
  background-color: white;
  /* default background color */
  border: none;
  box-shadow:2px 2px 6px rgba(0, 0, 0, 0.1);
  /* example shadow */
  color: black;
  /* default text color */
  font-size: 16px;
  /* assuming 'm' size is 16px */
  font-weight: 400;
  /* assuming 'normal' weight is 400 */
  padding: 12px 24px;
  /* assuming '3xs' and 's' spacings */
  border-radius: 5px;
  /* assuming 'm' radius is 8px */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 2px;
}

.button-outline:hover {
  color: #F5F5F5;
  background: black;
}


.button-outline.pressed {
  background-color: black;
  color: white;
}

.button-outline.disabled {
  cursor: not-allowed;
}