.Chain-Tab {
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  padding: 6px;
  color: #555;
  cursor: pointer;
  padding: 10px;
  border-radius: 40px;
}

.Chain-Tab:hover {
  background: #ccc;
}

.Chain-Tab-on,
.Chain-Tab-on:hover {
  background: #e6007a;
  color: #fff;
}
