.Chain-Tab {
  display: inline-block;
}

.Chain-Tab .Icon {
  margin-right: 5px;
  font-size: 24px;
  padding: 6px;
  color: #555;
  cursor: pointer;
  padding: 10px;
  border-radius: 40px;
}

.Chain-Tab:hover .Icon {
  background: #ccc;
}

.Chain-Tab-on .Icon,
.Chain-Tab-on:hover .Icon {
  background: #e6007a;
  color: #fff;
}
