.Tile {
  font-size: 2.5em;
  padding: 20px;
  text-align: left;
  width: 220px;
  display: inline-block;
  position: relative;
}

.Tile-label {
  position: absolute;
  top: 20px;
  left: 100px;
  right: 0;
  font-size: 0.4em;
  text-transform: uppercase;
  font-weight: bold;
}

.Tile-content {
  position: absolute;
  bottom: 20px;
  left: 100px;
  right: 0;
  font-weight: 300;
  font-size: 0.75em;
}

.Tile .Icon {
  font-size: .8em;
  padding: 0.5em;
  border-radius: 1.25em;
  border: 2px solid #d64ca8;
  color: #d64ca8;
}
