:root {
  --primary-color: #3c3c3c;
  --secondary-color: #cfc289;
  --active-tab-color: #d07676;
  --menu-active-color: #565050;
}

.Chains {
  background: var(--primary-color);
}

.THeadCell-sorted {
  background: var(--menu-active-color);
}


.Tile .Icon {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.Chain-Tab-on,
.Chain-Tab-on:hover {
  background: var(--active-tab-color);
}

.AllChains-controls-sortby-active {
  background-color: var(--active-tab-color);
  border-color: var(--active-tab-color);
}

.AllChains-chain-selected .AllChains-node-count {
  color: var(--primary-color);
}

.Setting-on .Setting-switch {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.AllChains-chain-selected {
  background: var(--secondary-color);
}

.Row-pinned td:first-child {
  border-left: 3px solid var(--secondary-color);
}

.Row-pinned td:last-child {
  border-right: 3px solid var(--secondary-color);
}

.Row-pinned.Row-synced {
  color: var(--secondary-color);
}

.Row-pinned td:first-child {
  border-left: 3px solid var(--secondary-color);
}

.Chains-fork-me {
  display: none;
}

.Chains-all-chains {
  right: 10px;
}

.Chains-extra-subscribed-chain {
  background: var(--secondary-color);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0px,
    var(--secondary-color) 30px,
    var(--secondary-color) 100%
  );
}

.Location-synced {
  border-color: var(--secondary-color);
}
/* Table overflow by horizontal scroll for many columns */
.Chain-content {
  overflow-y: auto;
}
