.Row {
  color: #B5AEAE;
  cursor: pointer;
}

.Row a {
  color: inherit;
  text-decoration: none;
}

.Row a:hover {
  text-decoration: underline;
}

.Row-Header th, .Row td {
  text-align: left;
  padding: 6px 13px;
  height: 19px;
}

.Row td {
  position: relative;
}

.Row-Header th {
  height: 23px;
}

.Row-Header th.HeaderCell-sortable {
  cursor: pointer;
}

.Row-Header th.HeaderCell-sorted {
  cursor: pointer;
  background: #E6007A;
  color: #fff;
}

.Row .Row-truncate {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Row .Row-Tooltip {
  position: initial;
  padding: inherit;
}

.Row-synced {
  color: #fff;
}

.Row-pinned td:first-child {
  border-left: 3px solid #E6007A;
  padding-left: 10px;
}

.Row-pinned td:last-child {
  border-right: 3px solid #E6007A;
  padding-right: 10px;
}

.Row-pinned.Row-synced {
  color: #E6007A;
}

.Row-stale {
  font-style: italic;
}

.Row:hover {
  background-color: #1E1E1E;
}

.Row-validator {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.Row-validator:hover {
  transform: scale(2);
}
