
.Node-Location {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 2px solid #666;
  border-radius: 6px;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  z-index: 1;
  transition: border-color 0.25s linear;
}

.Node-Location-ping {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  display: none;
}

.Node-Location-odd {
  border-color: #bbb;
}

.Node-Location-synced {
  z-index: 2;
  border-color: #d64ca8;
}

.Node-Location-synced .Node-Location-ping {
  border: 1px solid #fff;
  border-radius: 30px;
  display: block;
  animation: ping 1s forwards;
}

.Node-Location:hover {
  z-index: 3;
  border-color: #fff;
}

.Node-Location-details {
  min-width: 335px;
  position: absolute;
  left: 16px;
  top: -4px;
  font-family: monospace, sans-serif;
  background: #222;
  color: #fff;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  border-collapse: collapse;
}

.Node-Location-details td {
  text-align: left;
  padding: 0.5em 1em;
}

.Node-Location-details td:nth-child(odd) {
  width: 16px;
  text-align: center;
  padding-right: 0.2em;
}

.Node-Location-details td:nth-child(even) {
  padding-left: 0.2em;
}

@keyframes ping {
  from {
    left: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-color: rgba(255,255,255,1);
  }

  to {
    left: -13px;
    top: -13px;
    width: 30px;
    height: 30px;
    border-color: rgba(255,255,255,0);
  }
}
