.Node-Row {
  color: #999;
  cursor: pointer;
}

.Node-Row-Header th, .Node-Row td {
  text-align: left;
  padding: 0.35em 13px;
}

.Node-Row td {
  position: relative;
}

.Node-Row .Node-Row-truncate {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Node-Row .Node-Row-Tooltip {
  position: initial;
  padding: inherit;
}

.Node-Row-synced {
  color: #fff;
}

.Node-Row-pinned td:first-child {
  border-left: 3px solid #d64ca8;
  padding-left: 10px;
}

.Node-Row-pinned td:last-child {
  border-right: 3px solid #d64ca8;
  padding-right: 10px;
}

.Node-Row-pinned.Node-Row-synced {
  color: #d64ca8;
}

.Node-Row:hover {
  background-color: #161616;
}

.Node-Row-validator {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.Node-Row-validator:hover {
  transform: scale(2);
}
