name: Backend CI

on:
  push:
    paths:
      - 'backend/**'
      - '!frontend/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      working-directory: ./backend
      run: cargo build --verbose
    - name: Run tests
      working-directory: ./backend
      run: cargo test --verbose
    - name: Build release and call executable
      working-directory: ./backend
      run: cargo run --release -- --help

    - name: Build and Push template image
      uses: docker/build-push-action@v1 # https://github.com/docker/build-push-action
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: Dockerfile
        repository: paritytech/substrate-telemetry-backend
        tags: latest
        add_git_labels: true
        tag_with_ref: true
        tag_with_sha: true
