# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Frontend CI

on:
  push:
    paths:
      - '.github/workflows/frontend.yml'
      - 'frontend/**'
      - '!backend/**'
  pull_request:
    paths:
      - '.github/workflows/frontend.yml'
      - 'frontend/**'
      - '!backend/**'

defaults:
  run:
    working-directory: ./frontend

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install
      run: npm install

    - name: Check
      run: npm run pretty:check

    - name: Test
      run: npm run test

    - name: Build
      run: npm run build
